node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


node_modules
.npmrc
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
/generated/**/*

.idea
artifacts-zk
cache-zk
.upgradable
deploy/zk/airdrop_addresses.csv
